<div class="services">
  <div class="container">
    <div class="row">
      <div class="col-12 services-title">
        <h2>Our services </h2>
      </div>
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <div class="services-point">
          <h4>What We Do</h4>
          <p>We have the privilege of working with some of the most well known companies in our country and we don’t take this
            lightly. We work both diligently and intelligently to ensure that the needs of our clients come first. And we’re
            not afraid to push the envelope or encourage restraint. We are only as good as the reputation of our clients,
            and we willingly put our own reputation on the line to ensure that they get as much out of the relationship as
            we do.</p>
          <h4>Facilities:</h4>
          <ul>
            <li>We also provide Real IP Address to our Home Users for free, who are using Packages over 1500TK.</li>
            <li>Most of our Connections, both Corporate and Home are given through Optical Fiber.</li>
            <li>We provide our Internet Connection along with power backup to Corporate Office's as well as Home Users, who have
              special requirements.</li>
            <li>Our Professionals give solutions to Network Problems/Configuration, also solve Routing and Network Gateway Issues.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Todo: our skills from http://www.dotinternetbd.com/about.php; http://www.bnet-bd.com/ -->