<ng-container *ngIf="head">
  <page-head [name]="'Our Service'" [page]="'services'"></page-head>
</ng-container>

<div class="services">
  <div class="container">
    <section-heding [section]="'OUR'" [name]="'SERVICES'"></section-heding>
    <div class="row my-5">
      <div class="col-md-3 p-0">
        <ul class="p-0 m-0">
          <li *ngFor="let serv of services;let i = index" class="service-list" [class.active]="serviceIndex == i">
            <a (click)="handleServiceClick(i)">
              <i class="fa" [ngClass]="serv.icon"></i>
              &nbsp; {{serv.name}}
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-9 service-content">
        <div class="row">
          <div class="col-md-4"><img class="img-fluid" src="assets/images/services.jpg"></div>
          <div class="col-md-8">
            <h3><i class="fa" [ngClass]="service.icon"></i>
              &nbsp; {{service.name}}</h3>
            <p>{{service.text}}</p>
            <ul style="list-style: none; padding: 0;">
              <li *ngFor="let fet of service.features"><i class="fa fa-check"></i> &nbsp; {{fet}}
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>