.advantages {
  margin: 100px 0;
  //   &-title {
  //     text-align: center;

  //   }
  &-title {
    text-align: center;
    font-size: 45px;
    line-height: 64px;
    color: #14a0f8;
    font-weight: 300;
    margin-bottom: 4px;
    & strong {
      font-weight: bold;
      color: #333333;
    }
  }
  &-text {
    text-align: center;
    font-size: 35px;
    line-height: 64px;
    color: #14a0f8;
    font-weight: 100;
    margin-bottom: 43px;
  }

  &-icon {
    color: #14a0f8;
    font-size: 120px;
  }
  &-head {
    color: #14a0f8;
    font-size: 35px;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 13px;
  }
  &-description {
    padding-bottom: 34px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 34px;
    color: #888888;
  }
}
