<div class="advantages">
  <div class="container">
    <section-heding [section]="'A RANGE OF'" [name]="'ADVANTAGES'"></section-heding>

    <div class="row">
      <div class="col-md-4" *ngFor="let adv of advantages">
        <div class="advantage-box">
          <div class="box-image">
            <img [src]="adv.src" alt="">
          </div>
          <div class="box-content">
            <h3 class="ourservice-heading">{{adv.title}}</h3>
            <p class="description">{{adv.text}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>