<div class="parallax">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="intro">
          <div class="title">Fast Download &amp; Upload<br>Speeds at an Affordable Price</div>
          <div class="description">
            <p>When choosing among the best high speed Internet providers, there are<br>several other factors that
              should be taken into consideration besides just the available download speeds.</p>
            <p>Continue To Enjoy Janani Technology Internet, Surf, Stream, Games, TV And More With Blazing-Fast-Internet .
            </p>
          </div>
        </div>
        <div class="contact-info ">
          <div class="media">
            <div class="media-body">
              <div class="phone"><span>(+88)</span> {{_companyInfo.phone[0]}}<br>
                <span>(+88)</span> {{_companyInfo.phone[1]}}
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-body">
              {{_companyInfo.address_line1}}<br>
              {{_companyInfo.address_line2}}<br>
              {{_companyInfo.address_line3}} <br> </div>
          </div>
        </div>
      </div>
      <div class="row col-md-6"></div>
    </div>
  </div>
</div>