<div class="packages">
  <div class="container">
    <div class="row">
      <div class="col-12 packages-title">
        <h2>Special Offer</h2>
        <span>Special offer for limited time duration</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let plan of special_packages">
        <special-offer-card
          [price]="plan.price"
          [speed1]="plan.off_peak"
          [speed2]="plan.peak"
          [background]="plan.bg"
        ></special-offer-card>
      </div>      
    </div>
  </div>
</div>
