<div class="packages">
    <div class="container">
        <div class="row">
            <div class="col-12 packages-title">
                <h2>Special Offer </h2>
                <span>Special offer for limited time duration</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <special-offer-card [price]='600' [speed1]='10' [speed2]='3' [background]="'bg-teal'"></special-offer-card>
            </div>
            <div class="col-md-4">
                <special-offer-card [price]='800' [speed1]='15' [speed2]='4' [background]="'bg-green'"></special-offer-card>
            </div>
            <div class="col-md-4">
                <special-offer-card [price]='1000' [speed1]='20' [speed2]='6' [background]="'bg-light-green'"></special-offer-card>
            </div>
            <div class="col-md-4">
                <special-offer-card [price]='1200' [speed1]='25' [speed2]='8' [background]="'bg-light-blue'"></special-offer-card>
            </div>
            <div class="col-md-4">
                <special-offer-card [price]='1500' [speed1]='30' [speed2]='10' [background]="'bg-deep-purple'"></special-offer-card>
            </div>
            <div class="col-md-4">
                <special-offer-card [price]='2000' [speed1]='50' [speed2]='15' [background]="'bg-amber'"></special-offer-card>
            </div>
        </div>
    </div>

</div>