<page-head [name]="'FTP Servers'" [page]="'ftp'"></page-head>
<div class="container my-5">
  <div class="row">
    <div class="col-md-2 col-6 mt-4" *ngFor="let ftp of ftp_servers">
      <a [href]="ftp.link" target="_blank">
        <div class="card">
          <img [src]="'assets/images/ftp/'+ftp.slug+'.jpg'" class="card-img-top" [alt]="ftp.slug">
          <div class="card-footer p-2">
            <div class="card-title text-center m-0"><strong> {{ftp.name}}</strong></div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>