<page-head [name]="'About Us'" [page]="'About us'"></page-head>

<div class="container">
  <div class="row my-5">
    <div class="col-md-6">
      <section-heding [section]="'who'" [name]="'we are'"></section-heding>

      <h4 class="my-4">We are one of the largest Internet Service Provider
        and the leader in the telecommunications market.</h4>
      <p>Janani technology limited has started its operation in the year 2015 with the commitment of quality internet
        service at an affordable price. At the time of Janani technology limited started with broadband service with the
        state of art technology. In the course of time it’s R & D team has developed and introduced many new
        technologies to meet the requirement of new millennium. In the last 2 years Janani technology limited has
        introduced many new ideas and technologies to the internet industry.</p>

      <ul>
        <li><i class="fa fa-check"></i> High speed broadband internet</li>
        <li><i class="fa fa-check"></i> FTP Server</li>
        <li><i class="fa fa-check"></i> Torrent Servers</li>
        <li><i class="fa fa-check"></i> Live TV Server</li>
      </ul>
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="assets/images/muslim_kids.jpg">
    </div>
  </div>
  <div class="row my-5">
    <div class="col-12">
      <section-heding [section]="'why to'" [name]="'choose us'"></section-heding>
      <p class="text-center mt-5">We are a hands-on data centre,
        we work hand in hand with you to provide your
        home / business with appropriate customised solutions</p>
      <advantages></advantages>
    </div>
  </div>
</div>



<!-- <div class="about">
  <div class="container">
    <div class="row">
      <div class="col-12 about-title">
        <h2>About Us </h2>
      </div>
      <div class="col-md-6">
        <div class="about-point">
          <h4>Who We Are</h4>
          <p>Janani technology limited has started its operation in the year 2015 with the commitment of quality internet service
            at an affordable price. At the time of Janani technology limited started with broadband service with the state
            of art technology. In the course of time it’s R & D team has developed and introduced many new technologies to
            meet the requirement of new millennium. In the last 2 years Janani technology limited has introduced many new
            ideas and technologies to the internet industry.</p>
        </div>
        <div class="about-point">
          <h4>Our Services</h4>

          <ul>
            <li>High speed broadband internet</li>
            <li>FTP Server</li>
            <li>Torrent Servers</li>
            <li>Live TV Server</li>
          </ul>

        </div>

      </div>
      <div class="col-md-6">
        <div class="about-point">
          <h4>Our Policy</h4>
          <p>We beieve we will be successful if our clients are successful. Solving the hardest problems requires the best people.
            We think that the best people will be drawn to the opportunity to work on the hardest problems. We have built
            our company around that belief.
          </p>
        </div>
        <div class="about-point">
          <h4>Online Gaming</h4>
          <p>One of our main Aim is to satisfy all the Gamers out there, by providing them with stable Internet Connection along
            with Real IP, port blocking/forwarding solutions, good stable pings in European and Singapore servers.
          </p>
        </div>
      </div>
    </div>
  </div>
</div> -->