.about-breadscrumb {
  // background-image: url("assets/images/newletter-bg.jpg");
  background: #787878;
  background-image: url(/assets/images/newletter-bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-bottom: 0px;
  background-position: center 170%;
}
.about-breadscrumb .wrapper-breads {
  min-height: 258px;
  position: relative;
}
.about-breadscrumb .breadscrumb-inner {
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.about-breadscrumb .breadcrumb {
  background: transparent;
  float: right;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}
.about-breadscrumb .breadcrumb li {
  color: #cccccc;
}
.about-breadscrumb .breadcrumb > .active {
  color: #42a5f5;
}
.about-breadscrumb .breadcrumb a {
  color: #cccccc;
}
.breadcrumb > li + li:before {
  color: #ffffff !important;
  content: ">" !important;
  padding: 0 13px !important;
}

.about-breadscrumb .bread-title {
  font-size: 30px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  margin: 0;
  text-transform: capitalize;
  color: #ffffff;
  float: left;
}
