<div class="order">
  <div class="container">
    <div class="row">
      <div class="col-12 order-title">
        <h2>To order a package please call us</h2>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-4">
        <div class="order-box">
          <i class="fa fa-phone" aria-hidden="true"></i> 01686-763706</div>
      </div>
      <div class="col-md-4">
        <div class="order-box">
          <i class="fa fa-phone" aria-hidden="true"></i> 01904-111195</div>
      </div>
      <div class="col-md-4">
        <div class="order-box">
          <i class="fa fa-phone" aria-hidden="true"></i> 01904-111196</div>
      </div>
      <div class="col-md-4">
        <div class="order-box">
          <i class="fa fa-phone" aria-hidden="true"></i> 01904-111197</div>
      </div>
      <div class="col-md-4">
        <div class="order-box">
          <i class="fa fa-phone" aria-hidden="true"></i> 01904-111198</div>
      </div>
      <div class="col-md-4">
        <div class="order-box">
          <i class="fa fa-phone" aria-hidden="true"></i> 01904-111199</div>
      </div>
    </div>
  </div>
</div>