<!-- <img src="assets/images/slide-3.jpg"> {{images}} -->
<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img class="carousel-image" [src]="images[0]" alt="Random first slide">
    <div class="carousel-caption">
      <div class="slide-head">YOUR PERSONAL SPEED</div>
      <p>Looking for fast broadband without any line problem? Look no further! We even include Netphone with every plan,
        offering
        great rates and call value.</p>
      <button class="btn button-2 btn-info rounded-pill" (click)="navigate('/order')">Connect Now
        <i class="fa fa-chevron-right mx-2"></i></button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="carousel-image" [src]="images[1]" alt="Random second slide">
    <div class="carousel-caption">
      <div class="carousel-caption-2">
        <h2>JANANI TECHNOLOGY LIMITED</h2>
        <p>Looking for fast broadband without any line problem? Look no further! We even include Netphone with every
          plan, offering
          great rates and call value.</p>
      </div>
      <button class="btn button-2 btn-primary rounded-pill" (click)="navigate('/order')">Connect Now
        <i class="fa fa-chevron-right mx-2"></i></button>
      <!-- <button class="btn button-2 raised" (click)="navigate('/order')">GET CONNECTION NOW
        <i class="fa fa-chevron-right mx-2"></i>
      </button> -->
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="carousel-image" [src]="images[2]" alt="Random third slide">
    <div class="carousel-caption">
      <h2>JANANI TECHNOLOGY LIMITED</h2>
      <p>Looking for fast broadband without any line problem? Look no further! We even include Netphone with every plan,
        offering
        great rates and call value.</p>
        <button class="btn button-2 btn-light rounded-pill" (click)="navigate('/order')">Connect Now
          <i class="fa fa-chevron-right mx-2"></i></button>
    </div>
  </ng-template>
</ngb-carousel>