<div class="plan">
  <div class="container">
    <div class="plan-title text-center">
      <strong>CHOOSE</strong> YOUR PLAN
    </div>
    <div class="row">

      <div class="col-md-4 plan-package">
        <div class="plan-package-title">
          UNLIMITED
          <span class="plan-package-title-dropcap">A</span>
        </div>
        <div class="plan-package-item">
          <ul class="plan-package-item-price">
            <li>
              <strong>2</strong>Mbit / sec</li>
            <li class="plan-package-item-price-color">
              <span>Price : </span>
              <b> ৳700</b> / month</li>
            <li>
              <span>Traffic:
                <span>Unlimited</span>
              </span>
            </li>
            <li class="plan-package-item-price-color">
              <span>BDIX : </span>
              <b>10</b> / mbpx</li>
            <li>
          </ul>
          <button href="#" class="button button-1 raised" (click)="navigate('/order')">CONNECT NOW
            <i class="fa fa-chevron-right mx-2"></i>
          </button>
        </div>
      </div>

      <div class="col-md-4 plan-package">
        <div class="plan-package-title">
          UNLIMITED
          <span class="plan-package-title-dropcap">B</span>
        </div>
        <div class="plan-package-item">
          <ul class="plan-package-item-price">
            <li>
              <strong>6</strong>Mbit / sec</li>
            <li class="plan-package-item-price-color">
              <span>Price : </span>
              <b> ৳1000</b> / month</li>
            <li>
              <span>Traffic:
                <span>Unlimited</span>
              </span>
            </li>
            <li class="plan-package-item-price-color">
              <span>BDIX : </span>
              <b>15</b> / mbpx</li>
            <li>
          </ul>
          <button href="#" class="button button-1 raised" (click)="navigate('/order')">CONNECT NOW
            <i class="fa fa-chevron-right mx-2"></i>
          </button>
        </div>
      </div>
      <div class="col-md-4 plan-package">
        <div class="plan-package-title">
          UNLIMITED
          <span class="plan-package-title-dropcap">C</span>
        </div>
        <div class="plan-package-item">
          <ul class="plan-package-item-price">
            <li>
              <strong>10</strong>Mbit / sec</li>
            <li class="plan-package-item-price-color">
              <span>Price : </span>
              <b>৳1200</b> / month</li>
            <li>
              <span>Traffic:
                <span>Unlimited</span>
              </span>
            </li>
            <li class="plan-package-item-price-color">
              <span>BDIX : </span>
              <b>20</b> / mbpx</li>
            <li>
          </ul>
          <button href="#" class="button button-1 raised" (click)="navigate('/order')">CONNECT NOW
            <i class="fa fa-chevron-right mx-2"></i>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>