.plan {
  margin: 100px 0;
  &-title {
    font-size: 45px;
    line-height: 64px;
    color: #14a0f8;
    font-weight: 200;
    margin-bottom: 43px;
    & strong {
      font-weight: bold;
      color: #333333;
    }
  }
  &-package {
    text-align: center;
    &-title {
      border-radius: 3px 3px 0px 0px;
      padding: 8px 20px;
      background: #14a0f8;
      color: white;
      font-size: 30px;
      &-dropcap {
        background: #fffc00;
        color: #333333;
        display: inline-block;
        line-height: 63px;
        font-size: 35px;
        font-weight: bold;
        width: 63px;
        text-align: center;
        border-radius: 50%;
      }
    }
    &-item {
      font-family: 'Raleway', sans-serif;
      font-weight: 200;
      border: 1px solid #dcf1fe;
      border-radius: 2px;
      padding-bottom: 53px;
      & ul {
        list-style: none;
      }
      &-price {
        margin: 0;
        padding: 0;
        & li {
          color: #14a0f8;
          font-size: 16px;
          margin: 0 !important;
          padding: 15px;
          text-align: center;
          text-transform: none;
          & strong {
            font-size: 106px;
            line-height: 100px;
            font-weight: 500;
          }
        }
        & span {
          font-size: 25px;
          color: #333333;
          & span {
            color: #14a0f8;
          }
        }
        &-color {
          background: #edf8fe;
          & span {
            font-size: 25px;
            color: #333333;
          }
          & b {
            font-size: 46px;
            font-weight: 500;
            color: #333333;
          }
        }
      }
    }
  }
}

.button {
  cursor: pointer;
  height: 64px;
  //   padding: 15px;
  font-size: 19px !important;
  margin-top: 0px !important;
  padding: 15px 27px !important;
  border-radius: 3px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 34px;
  outline: none;
  &-1 {
    color: #444444;
    background: #fffc00;
    & i {
      color: #14a0f8;
    }
  }
}
