<div class="bottom">
  <div class="container">
    <div class="mx-auto" style="width: 300px;">
      <img class="my-5" src="assets/images/logo.png">
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="bottom-head">
          <i class="fa fa-map-marker" aria-hidden="true"></i> Address
        </div>
        <div class="bottom-text">
          Ali mia membar market, Bhuigor Bus-Stand, Bhuigor, Fatullah, Narayanganj-1421
        </div>
      </div>
      <div class="col-md-4">
        <div class="bottom-head">
          <i class="fa fa-phone" aria-hidden="true"></i> Telephone
        </div>
        <div class="bottom-text">
          800-2345-6790; 800-2345-6789
          <br> 7/24 from 8:00 AM to 2:00 AM
        </div>
      </div>
      <div class="col-md-4">
        <div class="bottom-head">
          Follow us
        </div>
        <div class="bottom-text">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-google-plus" aria-hidden="true"></i>
        </div>
      </div>

    </div>
  </div>
</div>