.bottom {
  background: #222;
  color: #797979;
}
.navbar-brand {
  font-size: 35px;
  font-family: "Parisienne";
  color: #fff;
  padding: 30px 0;
}

.contact-info {
  line-height: 1.6;
  color: #999999;
  padding: 30px 0;
}

.media:last-child {
  padding-right: 0px !important;
  border-right: none !important;
  padding-left: 20px;
}
.contact-info .media {
  width: 50%;
  display: inline-block;
  padding-right: 20px;
  border-right: 1px dashed #636363;
}
.media-body {
  display: table-cell;
  vertical-align: top;
}
@media (max-width: 767px) {
  .navbar-brand{
    flex: auto;
    text-align: center;
  }
  .contact-info .media{
    width: 100%;
    display: block;
    border-right: none;
    padding-right: 0;
    margin-right: 0;
  }
  .media:last-child {
    padding-left: 0;
    padding-top: 15px;
  }
}
