<div class="bottom">
  <div class="container">
    <div class="row">
      <div class="col-auto navbar-brand">
        <img class="logo-image" src="assets/images/logo_sm.png"> Janani
      </div>
      <div class="col">
        <div class="contact-info">
          <div class="d-flex justify-content-center">
            <div class="media">
              <div class="media-body">
                Ali Mia Membar Market<br>
                Bhuighar Bus-Stand, Bhuighar <br>
                Fatullah, Narayanganj-1421
              </div>
            </div>
            <div class="media">
              <div class="media-body">
                Phone: (+88) 01686-763706,  01904-111196<br>
                Email : <a href="mailto:atikullahfaysal@gmail.com">atikullahfaysal@gmail.com</a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>