.navbar {
  padding: 0;
  //   border-bottom: 1px solid gray;
}
// .nav-link {
//   color: black !important;
// }
.nav-item {
  font-size: 18px;
  color: #000;
  padding: 10px 7px;
  border-top: 4px solid transparent;
  //   border-top: 3px solid transparent;
  &:hover {
    border-top: 4px solid #14a0f8;
    // background-color: yellowgreen;
    background-image: linear-gradient(rgb(229, 223, 250), white);
    // border-top: 3px solid rgb(51, 65, 23);
  }
  & a {
    cursor: pointer;
  }
}
