<nav class="navbar navbar-expand-md raised">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo.png">
    </a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">

      <ul class="navbar-nav mr-auto">
      </ul>

      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services">SERVICES</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/packages">PACKAGES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">MEDIA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacts">CONTACTS</a>
        </li>

      </ul>

    </div>
  </div>
</nav>