<div class="ftp">
    <div class="container">
        <div class="row">
            <div class="col-12 ftp-title">
                <h2>Janani FTP servers </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a class="server-link" href="http://server1.ftpbd.net/FTP-1/English%20Movies/" target="_blank">English Movies</a>
            </div>
            <div class="col-md-4">
                <a class="server-link" href="http://server2.ftpbd.net/FTP-2/Foreign%20Language%20Movies/" target="_blank">Foreign Language Movies</a>
            </div>
            <div class="col-md-4">
                <a class="server-link" href="http://server4.ftpbd.net/FTP-4/English%20%26%20Foreign%20TV%20Series/" target="_blank">English Tv Series</a>
            </div>
        </div>
        <hr>
        <div class="row mt-3">
            <div class="col-md-4">
                <a class="server-link" href="http://server4.ftpbd.net/FTP-4/Anime%20%26%20Cartoon%20TV%20Series/" target="_blank">Anime & Cartoon TV Series</a>
            </div>
        </div>
        <hr>
        <div class="row mt-3">
            <div class="col-md-4">
                <a class="server-link" href="http://server4.ftpbd.net/FTP-4/3D%20Movies/" target="_blank">3D Movies</a>
            </div>
            <div class="col-md-4">
                <a class="server-link" href="http://server4.ftpbd.net/FTP-4/Animation%20Movies/" target="_blank">Animation Movies</a>
            </div>
            <div class="col-md-4">
                <a class="server-link" href="http://server1.ftpbd.net/FTP-1/English%20Movies/IMDB%20TOP%20250/" target="_blank">IMDB TOP 250</a>
            </div>
        </div>
        <hr>
        <div class="row mt-3">
            <div class="col-md-4">
                <a class="server-link" href="http://server2.ftpbd.net/FTP-2/Hindi%20Movies/" target="_blank">Hindi Movies</a>
            </div>
            <div class="col-md-4">
                <a class="server-link" href="http://server2.ftpbd.net/FTP-2/Hindi%20Movies/Hindi%20Tv%20Series/" target="_blank">Hindi Tv Series</a>
            </div>
            <div class="col-md-4">
                <a class="server-link" href="http://server2.ftpbd.net/FTP-2/South%20Indian%20Movies/" target="_blank">South Indian Movies</a>
            </div>
            <div class="col-md-4">
                <a class="server-link" href="http://server2.ftpbd.net/FTP-2/Awards%20%26%20TV%20Shows/" target="_blank">Awards & TV Shows</a>
            </div>
        </div>
        <hr>
        <div class="row mt-3">
            <div class="col-md-4">
                <a class="server-link" href="http://server2.ftpbd.net/FTP-2/Bangla%20Collection/BANGLA/" target="_blank">BANGLA</a>
            </div>
            <div class="col-md-4">
                <a class="server-link" href="http://server2.ftpbd.net/FTP-2/Bangla%20Collection/BANGLA/Web%20Series/" target="_blank">Web Series</a>
            </div>
            <div class="col-md-4">
                <a class="server-link" href="http://server2.ftpbd.net/FTP-2/SOFTWARE%20-%20COLLECTION/" target="_blank">SOFTWARE - COLLECTION</a>
            </div>
            <div class="col-md-4">
                <a class="server-link" href="http://server2.ftpbd.net/FTP-2/Tutorial/" target="_blank">Tutorial</a>
            </div>
        </div>
        <hr>
        <div class="row mt-3">
            <div class="col-md-4">
                <a class="server-link" href="http://server3.ftpbd.net/FTP-3/PC%20Games/" target="_blank">PC Games</a>
            </div>
            <div class="col-md-4">
                <a class="server-link" href="http://server3.ftpbd.net/FTP-3/Android/" target="_blank">Android</a>
            </div>
            <div class="col-md-4">
                <a class="server-link" href="http://server3.ftpbd.net/FTP-3/Console%20Games/" target="_blank">Console Games</a>
            </div>
        </div>
    </div>
</div>