.footer {
  color: white;
  background-color: #111;
  padding: 10px 0;
  font-family: 'SolaimanLipi', 'Siyamrupali', Arial, sans-serif !important;
}

.copy-right {
  font-size: 14px;
  text-align: center;
}
